@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
   

   
     
            .img {
                margin: 0;
                padding :0; 
                width: 95%;
            }

    h1 {
        text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15), 6px 6px 2px rgba(206,89,55,0.28);
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to Sports Store</h1>
  
</div>



    <img src="https://th.bing.com/th/id/R.2d37d46700b51446fd63bacbd9186eb8?rik=Bl17rwVa8jL82g&riu=http%3a%2f%2fstatic1.squarespace.com%2fstatic%2f535e6559e4b0e6ed7cf47032%2f53e807dce4b0fcfc12f4c273%2f53f3aa1fe4b05ed0ec5aedda%2f1408477760323%2fIMG_5130.jpg&ehk=xpui0Qokd%2fM87cXlKMpEWaMiXl9Ai%2f7UrVF7Wd2Dr7A%3d&risl=&pid=ImgRaw&r=0" class="img">

