
*{
    margin: 0; 
    padding: 0; 
    font-family:sans-serif ; 
   }

.grid_container {
    margin: 50px, 0px, 50px, 0px;
    display: grid;
    column-gap: 5px;
    row-gap: 20px;
    grid-template-columns: auto auto auto;
    background-color: white;
   padding: 10px;
    margin-top: 75px;
    margin-left:120px;
    width : 80%;
}


.grid_item {
background-color: white;
border: 1px solid #023246;
box-shadow: 6px 8px 11px 7px rgba(176,177,172,0.69);
padding: 20px;
border-radius:5px;
font-size: 30px;
text-align: center;
width: 335px;
height: 150px;

}

.photo{
height: 85px;
width: 50px;

}
.photo2{
height: 85px;
width: 70px;
}
 .photo3{
height: 85px;
width: 50px;
}


.badge:after{
    content:attr(value);
    font-size:12px;
    color: #f6f6f6;
    
    padding: 0 5px;
    position:relative;
    left:-8px;
    top:-10px;
    opacity:0.9;
}

.navbar{
    background-color: white;
    height: 1px;
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px gainsboro solid;
    }
    .navbar ul li{
        display: inline-block;
        margin: 0 20px;
    list-style:none ;
    }
    
    .navbar ul li a{
    color: rgb(32, 31, 31);
    
    text-decoration: none;
    text-transform: uppercase;
    
    }

    a {
        text-decoration: none;
    }