*{
 margin: 0; 
 padding: 0; 
 font-family:sans-serif ; 
}
body{
  background-image: url(./thumbnail-select_clothing_2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  
  }

 .badge:after{
    content:attr(value);
    font-size:12px;
    color: #fff;
    border-radius:50%;
    padding: 0 5px;
    position:relative;
    left:-8px;
    top:-10px;
    opacity:0.9;
}

.result {
 
font-size: 5px;

}

.navbar{
background-color: white;
height: 1px;
width: 100%;
margin: auto;
padding: 35px 0;
display: flex;
align-items: center;
justify-content: space-between;
}
.navbar ul li{
    display: inline-block;
    margin: 0 20px;
list-style:none ;
}

.navbar ul li a{
color: rgb(32, 31, 31);
text-decoration: none;
text-transform: uppercase;

}




.freeShipping{
  background-color: white;
  height: 100px;
    width: 100%;
    padding: 30px;
    margin-top: 35%;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  
  }

  .freeShipping ul li{
    text-align: center;
      display: inline-block;
      margin:  50px;
  list-style:none ;
  }
  
  

