@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .img {
        
      margin-left:425px;
        width : 500px;
        
    }

    h1 {
        text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15), 6px 6px 2px rgba(206,89,55,0.28);
    }
</style>

<div class="text-center">
    <h1 class="display-4">Admin Dashboard </h1>
</div>



    <img src="https://png.pngtree.com/png-vector/20190621/ourlarge/pngtree-dashboardadminmonitormonitoringprocessing-flat-color-ico-png-image_1490467.jpg" class="img" width="80px">

  