@page
@model myStoreWeb.Pages.Category.CategoryModel
@{
}

<br/>
<h2> Category list </h2>
<a class="btn btn-primary btn-sm" href='/Category/Index'>Create New Category</a>

<table class=" table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Desription</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <!-- to fill the table from data base -->
        @foreach (var item in Model.listCategory)
        {
            <tr>
                <td> @item.id</td>
                <td> @item.name</td>
                <td> @item.email</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Clients/Edit?id=@item.id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Clients/delete?id=@item.id">Delete</a>


                </td>
            </tr>
        }
    </tbody>
</table>
